@images: "/assets/images";




// 基礎變數
:root {

    // 背景色
    --bg-dark: #2b341c;

    // 灰色系
    --gc-light: #ccc;

    // 主色系
    --mc-dark: #CC0048;

    // 半透明
    --glass-lighten: rgba(255, 255, 255, .7);
    --glass-light: rgba(255, 255, 255, .5);
    --glass-dark: rgba(0, 0, 0, .5);
    --glass-darken: rgba(0, 0, 0, .7);

    // 文字顏色
    --text-lighten: #fff;
    --text-light: #eee;
    --text-dark: #999;
    --text-darken: #666;

    // 陰影
    --drop-shadow: drop-shadow(0 0 3px rgba(0,0,0, .7));

    // 基準文字大小
    --font-size: 16px;

    // 文字大小
    --fz-h1: 3rem;
    --fz-h2: 2.3rem;
    --fz-h3: 2rem;
    --fz-h4: 1.7rem;
    --fz-h5: 1.2rem;
    --fz-p: 1rem;
    --fz-small: 0.8rem;

    // 字體
    --ff-headline: "cwTeXFangSong", serif;
    --ff-english: "Playball", cursive;

}

// 第 5 屆
:root.year-2023 {

    // 背景色
    --bg-dark: #202147;

    // 主色系
    --mc-dark: #ff337b;

}

// 第 4 屆
:root.year-2020 {

    // 背景色
    --bg-dark: #2b2839;

    // 主色系
    --mc-dark: #7ecef4;

}

// 第 3 屆
:root.year-2018 {

    // 背景色
    --bg-dark: #fcd56b;

    // 主色系
    --mc-dark: #e71f19;

}

// 間隔
@sp: 10px;

// 螢幕閾值
@ww-3l: 1600px;
@ww-2l: 1280px;
@ww-xl: 1000px;
@ww-l: 640px;
@ww-m: 420px;
@ww-s: 320px;

// 樣式閾值
@view-3l:  ~"only screen and (max-width: @{ww-3l})";
@view-2l:  ~"only screen and (max-width: @{ww-2l})";
@view-2l--desktop:  ~"only screen and (min-width: @{ww-2l})";
@view-xl:  ~"only screen and (max-width: @{ww-xl})";
@view-xl--desktop:  ~"only screen and (min-width: @{ww-xl})";
@view-l:  ~"only screen and (max-width: @{ww-l})";
@view-m:  ~"only screen and (max-width: @{ww-m})";
@view-s:  ~"only screen and (max-width: @{ww-s})";
