@import "/src/less/base/color.less";

.header {
	height: 390px;
	margin: 0 auto;

	@media @view-xl {
		width: auto;
		overflow: hidden;
		height: 0;
		padding-bottom: 40%;
		margin-bottom: -10%;
	}

	.header-bg {
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	&-2024 {

		.header-zoom {
			position: absolute;
			width: 40%;
			height: 100%;
			margin-top: 3%;
			left: 33%;

			& div {
				position: absolute;
				background-size: 100% auto;
				background-repeat: no-repeat;
			}
		}

		@media @view-2l--desktop {
			.header-zoom {
				top: -3%;
				margin-top: 0;
			}
		}


		.header-megumu {
			width: 52%;
			padding-bottom: 62.3%;
			left: 19%;
			margin-top: 5%;
			background-image: url("@{images}/2024/stage/megumu.png");
		}

		.header-aya {
			width: 53.5%;
			padding-bottom: 63.4%;
			left: -14%;
			margin-top: 21%;
			background-image: url("@{images}/2024/stage/aya.png");
		}

		.header-hatate {
			width: 53.9%;
			padding-bottom: 66.6%;
			left: 18%;
			margin-top: 28%;
			background-image: url("@{images}/2024/stage/hatate.png");
		}

		.header-momiji {
			width: 44.9%;
			padding-bottom: 58.5%;
			left: 55%;
			margin-top: 26%;
			background-image: url("@{images}/2024/stage/momiji.png");
		}


	}

	&-2023 {
		.header-bg {
            width: 60%;
            margin-left: 20%;
            padding-bottom: 41%;
            background-image: url("@{images}/2023/stage/chara.png");
		}
	}

	&-2020 {
		.header-bg {
			width: 125%;
			margin-left: -15%;
			padding-bottom: 40%;
			background-image: url("@{images}/2020/base/header.png");
		}
	}


	&-2018 {
		.header-bg {
			width: 150%;
			margin-left: -25%;
			padding-bottom: 48%;
			background-image: url("@{images}/2018/base/header.png");

			@media @view-xl {
				width: 120%;
				padding-bottom: 38%;
				margin-left: -10%;
			}
		}
	}

}
