<h1 class="headline" translate="$.announcements"></h1>
<img src="{{image}}/about.png" [alt]=" 'site.title' | translate ">
<p class="text-center" translate="site.about"></p>
<ng-container *ngIf="schedule">
<h2 class="title">
	<span translate="$.schedule"></span>
</h2>
<table>
	<tr>
		<th translate="$.gensokyoEvent"></th>
		<th translate="$.time"></th>
	</tr>
		@if (schedule && schedule.list) {
			@for (item of schedule.list; track $index; let i = $index) {
				<tr>
					<td translate="schedule.{{ year }}.{{ i }}"></td>
					<td [textContent]="item"></td>
				</tr>
			}
		}
    </table>
</ng-container>
<h2 class="title">
	<span translate="$.artSource"></span>
</h2>
<ol>
	<ng-container *ngFor="let li of link">
		<li>
			<a [href]="li.url" traget="_blank">
				<span [textContent]="li.title"></span>
				<i class="fa fa-external-link"></i>
			</a>
		</li>
	</ng-container>
</ol>
