<h1 class="headline" translate="$.announcementsForCosplay"></h1>
<h2 class="title">
	<span translate="$.regulations"></span>
</h2>
<ul>
	<li>請 COS 跟東方 Project 作品有關的角色。</li>
	<li>請尊重場地單位及其他的公開場地使用者之權益，請勿破壞場地或造成髒亂。</li>
	<li>禁止私自於活動場地（及附近）搭景</li>
	<li>禁止攜帶使用顏料、油漆、漆彈等會破壞場地的物品。</li>
	<li>禁止進入活動會場外附近之私人或未開放空間更衣拍照。</li>
	<li>請勿破壞、佔據使用或進入未開放的場所與設施。</li>
	<li>道具長超過 1 公尺者，若因道具因素造成參加人員受傷、場地損毀者將要求賠償。</li>
	<li>禁止穿著過於暴露、裸露、不適宜出現於公共場合及有可能造成其他參加者反感的裝扮。</li>
	<li>攀折花木及場地外之公共藝術作品等破壞場地的動作是禁止的行為。</li>
	<li>請勿奔跑、推擠、嬉戲、抽菸喝酒、大聲喧嘩或進行非官方舞台表演活動。</li>
	<li>請勿做出壓倒、推倒等不雅動作。</li>
</ul>
<h2 class="title">
	<span translate="$.dressingRoom&Floor"></span>
</h2>
<ul>
	<li>禁止在會場特設更衣室以外的場所更衣（更衣室之位置請見該場次之場地配置圖）</li>
	<li>更衣室非寄物處也非休息區，若等待使用更衣室之 COSER 眾多，請更衣室內之 COSER 盡速完成更衣動作以便下位 COSER 使用。</li>
	<li>COSER 更衣離場時請注意更衣室開放的使用時間（更衣室使用時間依場次不同會有所調整，請依該場次現場公告為主）</li>
	<li>更衣室之使用請遵守規定，維持更衣室內之整潔，更衣完畢請記得收拾好您的物品，恢復更衣室內之清潔。</li>
	<li>更衣室內請勿飲食及攜帶、存放食物、飲料、生鮮食品等。</li>
	<li>女性 COSER 請勿進入及佔用男性更衣室及男廁。</li>
	<li>男性 COSER 請勿進入及佔用女性更衣室及女廁。</li>
	<li>如 COSER 有特殊需求請向大會本部詢問</li>
	<li>使用更衣室時請善加對待物品設備，若更衣室設備遭毀損主辦單位將要求賠償。</li>
</ul>
