<h1 class="headline" translate="$.announcementsForVisitor"></h1>
<h2 class="title">
	<span translate="$.ticketNotice"></span>
</h2>
<ul>
	<li>為了各位的安全著想，活動是禁止夜排的。</li>
	<li>為了您及其參加者的安全著想，入場時及進入會場時請勿奔跑</li>
	<li>請勿將東西隨意放置在地上或無人看管之處以避免遺失。</li>
	<li>現場購票者在購票時請記得先取出您的購票金額以加快購票速度。入場時請先將當日票券取出以加速入場速度。</li>
	<li>在會場攤位區試閱刊物及與攤主聊天、購物時請小心切勿占用左右社團之攤位空間及造成別人困擾。</li>
	<li>在攤位購買東西在要離開攤位時，請記得將錢包及購買的物品帶走。</li>
	<li>入場排隊請配合工作人員指示，小心不要排錯隊伍。</li>
	<li>活動人潮眾多，請參加者小心不法份子。為了您自己的安全著想，女性同好請盡量避免獨自一人落單。</li>
</ul>
<h2 class="title">
	<span translate="$.hallRegulations"></span>
</h2>
<ul>
	<li>場內請勿喧嘩、奔跑及大聲喊叫，也請勿在出入口及走道逗留、休憩、聚會。若有需要請至休息區，請勿於走道邊席地而坐以免造成其他參加者出入移動之困擾。</li>
	<li>於社團傳單放置處中拿取傳單時請勿弄亂其他傳單，並注意恢復整齊。</li>
	<li>請勿亂丟垃圾，若垃圾桶已滿請至本部告知工作人員處理。</li>
	<li>活動會場並非夜市，請勿邊走邊吃。</li>
	<li>若攜帶大型物品（雨傘、畫桶等）請小心不要讓物品戳傷其他參加者。</li>
</ul>
