@import "../../../less/base/color.less";


@media screen and (max-width: @ww-xl) {
	.nav {

		@nav-w: 8vmin;

		// 展開側欄背景
		&-bg {
			display: none;
			position: fixed;
			z-index: 10;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: var(--glass-dark);
		}

		// 側欄區塊
		&-wrap {
			display: none;
			position: fixed;
			z-index: 11;
			height: 100%;
			top: 0;
			right: 0;
			width: 45%;
			background-color: rgba(255, 255, 255, .8);
		}

		// 列表
		&-list {
			margin: 0 10%;
			margin-top: 50%;

			a,
			span {
				display: block;
				color: var(--text-darken);
				padding: 7% 3%;
				font-weight: bold;
				font-size: 5vmin;
				border-bottom: solid 1px var(--gc-light);
			}

			span:hover + ul {
				display: block;
			}
		}

		// 次選單 (尚未使用)
		&-sec {
			display: none;
			&:hover {
				display: block;
			}
			a {
				text-indent: 10%;
				font-size: 4vmin;
			}
		}

		// 手機版功能按鈕
		&-mobile-btn {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 12;
			color: var(--text-dark);
			height: 100%;
			text-align: center;
			width: @nav-w;
			height: @nav-w;
			margin-top: 7%;
			margin-right: 7%;
			line-height: @nav-w;
			font-size: 5vmin;
			border: 0;
			background-color: transparent;
			outline: 0;

			.fa {
				position: relative;
			}

			// 底色
			&::before {
				content: "";
				position: absolute;
				top: -1px;
				left: -1px;
				right: -1px;
				bottom: -1px;
				transform: rotate(45deg);
				box-sizing: border-box;
				border: solid 1px var(--gc-light);
				background-color: var(--glass-lighten);
			}
		}

		// 側欄為顯示狀態
		&--show {

			display: block;

			.nav-mobile-btn {
				display: block;
				color: var(--text-lighten);
				&::before {
					background-color: var(--mc-dark);
				}
			}

			.nav-bg {
				display: block;
			}

			.nav-wrap {
				display: block;
			}

			.nav-mobile-close {
				display: block;
			}
		}

		// 關閉按鈕
		&-mobile-close {
			display: none;
			color: var(--text-lighten);
		}
	}
}


.nav-2020 {
	&.nav--show .nav-btn::before {
		background-color: var(--mc-dark);
	}
}


.nav-2018 {
	&.nav--show .nav-btn::before {
		background-color: var(--mc-dark);
	}
}
