<div class="year">
	<ul>
		@for (item of list; track $index; let i = $index) {
			<li>
				<!-- 如果是獨立網站 -->
				@if (item.homeSite) {
					<a [href]="item.homeSite">
						<router-outlet *ngTemplateOutlet="yearItem; context: { item, i }" ></router-outlet>
					</a>
				}
				<!-- 如果是新版網站 -->
				@else {
					<a [routerLink]="eventSup.eventLink(item)">
						<router-outlet *ngTemplateOutlet="yearItem; context: { item, i }" ></router-outlet>
					</a>
				}
			</li>
		}
	</ul>
</div>


<!-- 年份項目 開始 -->
<ng-template #yearItem let-item="item" let-i="i">
	<img [src]="image(item)" [alt]="i18nNth(i)">
	<span [textContent]="i18nNth(i)"></span>
</ng-template>
<!-- 年份項目 結束 -->
